<html>
    <body>

        <p>Hello Sir/Ma'am,</p>

        <p>I hope this email finds you well.</p>

        <p>I am <b>[Your Name]</b>, currently in my final year of <b>[Your Degree]</b> at <b>[Your University]</b>, with a strong background in <b>[Relevant Skills/Field]</b>. I am actively seeking opportunities for <b>[Specific Role]</b> at <b>[Company Name]</b>.</p>

        <p>I have [Professional Experience], gaining hands-on experience in <b>[Tech Skills]</b> and built various projects. I believe that my skills and interests align with the requirements of roles at your company.

        <p>I would be grateful if we could connect to discuss any current or upcoming opportunities that match my background. Please find my resume attached for your review. Looking forward to your response!

        <p><b>Best regards,</b> <br>
        [Your Name] <br>
        [Your Contact Information] <br>
        Linkdin: [Linkedin Profile] <br> </p>

    </body>
</html>
